.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.image-card img {
  margin-top: 15px;
  width: 90%;
}

